#panel {
    display: table;
    padding: 10px;
}
#source {
    text-overflow: ellipsis;
    flex-grow: 2;
    margin-right: 5px;
}

#keywords, #collections, #characters {
    margin-top: 0;
}
#keywords li {
    background-color: lightskyblue;
}
#keywords li:hover .cross {
    box-shadow: -5px 0 5px 0 lightskyblue;
}
#collections li {
    background-color: lightcoral;
}
#collections li:hover .cross {
    box-shadow: -5px 0 5px 0 lightcoral;
}
#characters li {
    background-color: lightgreen;
}
#characters li:hover .cross {
    box-shadow: -5px 0 5px 0 lightgreen;
}

div.meta-values {
    margin-top: 10px;
    text-align: right;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    row-gap: 5px;
}

#uid {
    font-family: monospace;
    font-size: 0.8rem;
    outline: none;
    border: none;
}